.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}


@media screen and (min-width:576px){
    #fotoperfil{
        position: absolute;
        width: 120px;
        height: 120px;
        top: 55vw;
        left:5%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px black;
    }
    #textabout{
        margin-right:40px;
    }
    #name_title{
    
        font-weight: bold;
        text-align: left;
        margin-top: 5%;
        margin-left:-13%;
        
    }


}

@media screen and (max-width: 575px){
    #fotoperfil{
  
        width: 120px;
        height: 120px;
        top: 55vw;
        left:35vw;
        border-radius: 50%;
        box-shadow: 3px 3px 3px black;
    }
    #name_title{
    
        font-weight: bold;
        text-align: center;
        margin-top:5%;
        
        
    }

}
