<div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img id="fotoperfil" src="../../../assets/pp.jpg" class="img-fluid">
            </div>
            <div id="name_title" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <span>
                    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
                    <p>Full Stack Developer Jr</p>
                </span>
            </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p id="textabout">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, sit excepturi! Ipsa iure dicta consequatur debitis sed? Porro, minima? Et sunt cupiditate repellat quasi illo dolores, nobis sit dolore est?</p>
    </span>
    </div>
</div>


